{% extends "layout.html" %}
{% block body %}

<div class="main-content">
    <div class="event-calender-heading">
        <h1>Event Calender</h1> 
    </div>
    <div id='calendar'></div>
    <div class="annoucement">
        <h2>Annoucement</h2>
    </div>
    <!-- <div id="event-form">
        <h2>Add New Event</h2>
        <form id="add-event-form" action="/add_event" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="start">Start Date and Time:</label>
            <input type="datetime-local" id="start" name="start" required>
            <button type="submit">Add Event</button>
        </form> -->

</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js" integrity="sha256-i4vDW9EgtaJmeauDDymtNF2omPZ1fCKpf4w1gBlU1IE=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>-->
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/underscore-min.js') }}"></script>-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/events'  // URL to fetch events from Flask backend
            });

            calendar.render();
        });
    </script>


{% endblock %}